

<form [formGroup]="form" (submit)="update(form.value)">
	
	<ion-item>
		<ion-label>Nombre: </ion-label>
		<ion-input formControlName="nombre"></ion-input>
	</ion-item>

	<ion-item>
		<ion-label>Apellido: </ion-label>
		<ion-input formControlName="apellido"></ion-input>
	</ion-item>

	<ion-item>
		<ion-label>Edad: </ion-label>
		<ion-input formControlName="edad"></ion-input>
	</ion-item>

	<ion-button type="submit">Actualizar</ion-button>

</form>