<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <!--<ion-grid>
    <ion-row>
      <ion-col>1</ion-col>
      <ion-col>2</ion-col>
      <ion-col>3</ion-col>
    </ion-row>
  </ion-grid>-->

  <form [formGroup]="homeForm" (submit)="validar(homeForm.value)">
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-input type="text" formControlName="nombre" class="form-control"></ion-input>
    </ion-item>

    <div class="validator-errors">
        <ng-container *ngFor="let x of validate_messages.nombre">
          <div *ngIf="homeForm.get('nombre')!.hasError(x.type)">
            {{x.message}}
          </div>
        </ng-container>
    </div>

    <ion-item>
      <ion-label>Apellido</ion-label>
      <ion-input type="text" formControlName="apellido"></ion-input>
    </ion-item>

    <div class="validator-errors">
        <ng-container *ngFor="let x of validate_messages.apellido">
          <div *ngIf="homeForm.get('apellido')!.hasError(x.type)">
            {{x.message}}
          </div>
        </ng-container>
    </div>

    <ion-item>
      <ion-label>Edad</ion-label>
      <ion-input type="number" formControlName="edad"></ion-input>
    </ion-item>

     <div class="validator-errors">
        <ng-container *ngFor="let x of validate_messages.edad">
          <div *ngIf="homeForm.get('edad')!.hasError(x.type)">
            {{x.message}}
          </div>
        </ng-container>
    </div>

    <div class="center p20">
      <ion-button [disabled]="!homeForm.valid" type="submit">Validar</ion-button>
    </div>
  </form>


  <ion-item>
    <ion-label>Buscar</ion-label>
    <ion-input type="text" (keyup)="search($event)"></ion-input>
  </ion-item>

  <!-- Listado de Usuarios --->
  <ion-grid>
    
    <div *ngFor="let x of data; let i = index" class="bottom20">

      <ion-item>
        <ion-label>Opciones</ion-label>
        <ion-text>
          <ion-icon (click)="update(x,i)" color="danger" name="create-outline"></ion-icon>
          <ion-icon (click)="delete(x)" color="danger" name="trash-outline"></ion-icon>
        </ion-text>
      </ion-item>

      <ion-item>
        <ion-label>Nombre</ion-label>
        <ion-text>{{x.nombre}}</ion-text>
      </ion-item>

      <ion-item>
        <ion-label>Apellido</ion-label>
        <ion-text>{{x.apellido}}</ion-text>
      </ion-item>

      <ion-item>
        <ion-label>Edad</ion-label>
        <ion-text>{{x.edad}}</ion-text>
      </ion-item>
    
    </div>

  </ion-grid>
</ion-content>

<ion-modal [isOpen]="isModalOpen">
  <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Welcome</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content>
          <app-update [data]="data_child"></app-update>
      </ion-content>

  </ng-template>
</ion-modal>



